body{
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#result{
    font-weight: bold;

}
#sideA{
    height:50px;
    width:auto;
    font-size:large;
}
#sideB{
    height:50px;
    width:auto;
    font-size:large;
}